body {
    background-image: url("highway4.JPG");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    max-height: 2500px;
    background-opacity:0.1;
}

#Welcome{
    background-repeat: no-repeat;
    background-size: 100% 100%;
    max-height: 3000px; 
    margin: auto;      
    margin-top: 500px;
    margin-bottom: 1000px;
    align-content:center;
}
#Error{
    background-color: #9BD5FA;
	background-repeat: no-repeat;
    background-size: 100% 100%;
    max-height: 3000px; 
    margin: auto;      
    margin-top: 500px;
    margin-bottom: 1000px;
    align-content:center;
}