{% load staticfiles %}
<!DOCTYPE html>
<html>
	<div id="Error">
		<center>
			<head>
				<h1>This is embarrasing</h1>
		        <link href ="{% static 'styleIndex.css' %}" rel="stylesheet"  type="text/css">
			</head>
			<body>
				<p> Remember to: 
					<li>Check origin and destination</li>
					<li>Do the addresses exist?</li>
					<li>Are the origin and destination in the same city?</li>
					<li>Did you select the right city?</li>
				</p>
			</body>
	<div id='Footnote'>
        Image Source: Carey, Chris. expressway.jpg. 1997. Pics4Learning. 18 Mar 2016 http://pics.tech4learning.com
    </div>
		</center>
	</div>
</html>