{% load staticfiles %}
<!DOCTYPE html>
<html>
	<div id="Welcome">
		<center>
			<head>
				<h1>Welcome to Fare Compare!</h1>
		        <link href ="{% static 'styleIndex.css' %}" rel="stylesheet"  type="text/css">
			</head>
			<body>
				<form method="post">
				    {% csrf_token %}
				    {{ form }}
				    <input type="submit" value="Submit" />
				</form>
			</body>
		</center>
	</div>
	<div id='Footnote'>
        Image Source: Carey, Chris. expressway.jpg. 1997. Pics4Learning. 18 Mar 2016 http://pics.tech4learning.com
    </div>
</html>