{% load staticfiles %}
<!DOCTYPE html>
<html>
<h1>Welcome to Fare Compare Results!</h1>

<body>
   
    <h2>Taxi:</h2>
    <table class="Taxi"; border=1px>
        <tr>
            <th> Time </th>
            <th> Cost </th>
        </tr>
        <tr>
            {% for entry in taxi %}
                <td>{{ entry }}</td>
            {% endfor %}
        </tr>   
        <tr>  </tr>             
    </table>

    <iframe
    width="450"
    height="250"
    frameborder="0" style="border:0"
    src= {{map_urls}} allowfullscreen>
    </iframe>    


    <h2>Uber:</h2>
    <table class="Uber"; border=1px>
        <tr>
            <th> Service </th>
            <th> Time </th>
            <th> Cost </th>
        </tr>
        {% for service, value in uber.items %}
            <tr>
                <td>{{ service }}</td>
                {% for entry in value %}
                    <td>{{ entry }}</td>
                {% endfor %}
            </tr>
        {% endfor %}             
    </table>

    <h2>Public Transport:</h2>
    <table class="Public"; border=1px>
        <tr>
            <th> Time </th>
            <th> Cost </th>
        </tr>
        <tr>
            <td>{{ public.0 }}</td>
            <td>{{ public.1 }}</td>
        </tr>                
    </table>
    <p>
        <b>Directions: </b> <br>
        {% for line in public.2 %}
            {{line}} <br>
        {% endfor %}
    </p>

</body>
</html>

