{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <link href ="{% static 'style.css' %}" rel="stylesheet"  type="text/css">
        <h1>Welcome to Fare Compare Results!</h1>
    </head>

<body background="http://i1.trekearth.com/photos/83228/chicago-landscape.jpg">
    <div id="drivingLeft">
        
        <div id="taxi">
            <h2>Taxi:</h2>
            <table class="Taxi"; border=1px>
                <tr>
                    <th> Time </th>
                    <th> Cost </th>
                </tr>
                <tr>
                    {% for entry in taxi %}
                        <td>{{ entry }}</td>
                    {% endfor %}
                </tr>   
                <tr>  </tr>             
            </table> 
        </div>
      

        
        <div id = "Uber">
            <h2>Uber:</h2>
            <table class="Uber"; border=1px>
                <tr>
                    <th> Service </th>
                    <th> Time </th>
                    <th> Cost </th>
                </tr>
                {% for service, value in uber.items %}
                    <tr>
                        <td>{{ service }}</td>
                        {% for entry in value %}
                            <td>{{ entry }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}             
            </table>
        </div>
      
        <div id = "DrivingMap" >
            <iframe
            width="600"
            height="350"
            frameborder="0" style="border:10"
            src="{{driving_map}}" allowfullscreen>
            </iframe>
        </div>
    </div>


    <div id='PublicTrans'>
        <h2>Public Transport:</h2>
        <table class="Public"; border=1px>
            <tr>
                <th> Time </th>
                <th> Cost </th>
            </tr>
            <tr>
                <td>{{ public.0 }}</td>
                <td>{{ public.1 }}</td>
            </tr>                
        </table>
        <p>
            <b>Directions: </b> <br>
            {% for line in public.2 %}
                {{line}} <br>
            {% endfor %}
        </p>

        <div id = "TransitMap" >
            <iframe
            width="600"
            height="350"
            frameborder="0" style="border:0"
            src="{{transit_map}}" allowfullscreen>
            </iframe>
        </div>
    </div>


    <div id='DivvyBikes'>
        <h2>Divvy Bikes:</h2>
        <table class="Divvy"; border=1px>
            <tr>
                <th> Time </th>
                <th> Cost </th>
            </tr>
            <tr>
                <td>{{ divvy.0 }}</td>
                <td>{{ divvy.1 }}</td>
            </tr>                
        </table>
       
        <div id = "BikeMap" >
            <iframe
            width="600"
            height="350"
            frameborder="0" style="border:0"
            src="{{bike_map}}" allowfullscreen>
            </iframe>
        </div>
    </div>

</body>
</html>

