{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <center>
            <link href = "{% static 'styleNY.css' %}" rel="stylesheet"  type="text/css">
            <h1>Welcome to Fare Compare Results!</h1>
        </center>
    </head>

<body>
    
    <div id="drivingLeft">
        <div id = "DrivingMap" >
            <iframe
            width="600"
            height="350"
            frameborder="0" style="border:10"
            src="{{driving_map}}" allowfullscreen>
            </iframe>
        </div>

        <div id="taxi">
            <h2>Taxi:</h2>
            <table class="Taxi"; border=1px>
                <tr>
                    <th> Time </th>
                    <th> Cost </th>
                </tr>
                <tr>
                    <td>{{ taxi.0 }}</td>
                    <td>{{ taxi.1 }}</td>
                </tr>   
                <tr>  </tr>             
            </table> 
        </div>
      

        
        <div id = "Uber">
            <h2>Uber:</h2>
            <table class="Uber"; border=1px>
                <tr>
                    <th> Service </th>
                    <th> Time </th>
                    <th> Cost </th>
                </tr>
                {% for service, value in uber.items %}
                    <tr>
                        <td>{{ service }}</td>
                        {% for entry in value %}
                            <td>{{ entry }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}             
            </table>
        </div>
      
        
    </div>


    <div id='PublicTrans'>
        <div id = "TransitMap" >
            <iframe
            width="600"
            height="350"
            frameborder="0" style="border:0"
            src="{{transit_map}}" allowfullscreen>
            </iframe>
        </div>

        <h2>Public Transport:</h2>
        <table class="Public"; border=1px>
            <tr>
                <th> Time </th>
                <th> Cost </th>
            </tr>
            <tr>
                <td>{{ public.0 }}</td>
                <td>{{ public.1 }}</td>
            </tr>              
        </table>
        

        

        <p>
            <b>Directions: </b> <br>
            {% for line in public.2 %}
                <li>{{line}}</li> <br>
            {% endfor %}
        </p>
    </div>

    <div id='Footnote'>
        Note: These numbers represent an estimate, and should be understood as a lower bound for cost.
        Time may vary if traffic changes, and cost may vary based off of company or other factors.
        All directions are optimized by time.
    </div>

</body>
</html>

